
#container-blog {
    float: left;
    padding-top:30px;

}

#content-blog {
    margin: 0 0px 0 20px;
}

#footer {
    clear: both;
    width: 100%;
}


#splatter {
    width:100%;
    background:url(topper.jpg) repeat-x;
    z-index: 99999;
}

#topper {
    background: url(splatter.jpg) center 280px no-repeat;
}

#wrapper {
    padding: 0 20px;
}

/* Structure the footer area */
#footer-widget-area {
    overflow: hidden;
}

#footer-widget-area #fourth {
    margin-right: 0;
}


/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
body {
    background: url(back.jpg) #000  repeat;
}

input[type="text"],
textarea {
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
    padding: 2px;
    padding-left:5px;
    border-radius:7px;
    -moz-border-radius:7px;
}
a:link {
    color: #99090A;text-decoration:none;
}
a:visited {
    color: #99090A;text-decoration:none;;
}
a:active,
a:hover {
    color: #000;
}



/* =Header
-------------------------------------------------------------- */

#header {
    padding: 0 0 0 0;
    background: url(hand.png) 340px bottom no-repeat;
    min-height:1px;

}
#site-title {
    float: left;
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 5px 0;
    margin-top:30px;margin-left:20px;


}
#site-title a {

    color: #CCCCCC;
    font-weight: bold;
    text-decoration: none;
    text-shadow: #8B2001 3px 3px 10px;

}
#site-description {
    clear: both;display:block;
    float: left;	font-size: 20px;
    font-style: italic;
    margin: 14px 0 10px 0;margin-top:0;margin-left:40px;
    margin-bottom:15px;
    color:#999;text-shadow: #8B2001 1px 1px 1px;
}


#blog-subject {
    clear: both;
    font-size: 25px;
    font-style: italic;
    margin: 0px 0 0px 0;margin-top:0;margin-left:0px;
    margin-bottom:0px;
    color:#000;text-shadow: #8B2001 1px 1px 1px;
}

#blog-title {
    clear: both;display:block;

    font-size: 18px;
    font-style: italic;
    margin: 0px 0 0px 0;margin-top:0;margin-left:0px;

    margin-bottom:0px;
    color:#999;text-shadow: #8B2001 1px 1px 1px;
}
/* This is the custom header image */


#main-blog {

    clear: both;
    overflow: hidden;
    padding: 0px 0 0 0;


}

/* =Images
-------------------------------------------------------------- */

#content-blog img {
    margin: 0;
    height: auto;
    border:1px solid #DDD;
    padding:3px;
    background-color:#F3F3F3;
    -moz-box-shadow: 3px 3px 3px #999;
    -webkit-box-shadow: 3px 3px 3px #999;
    box-shadow: 3px 3px 3px #999;
    border-radius:5px;
    -moz-border-radius:5px;

}



/* Footer widget areas */
#footer-widget-area {
}

#footer-widget-area a{
    color:#666;
}



#footer-widget-area .widget-title{
    border:none;
}


/* =Footer
-------------------------------------------------------------- */

#footer {
    margin-bottom: 15px;
    padding-top:10px;
}

#site-info {
    font-weight: bold;
    text-align:center;
    clear:both;
    background: url(shoot.jpg) center top no-repeat;
    padding-top:50px;
}
#site-info a {
    color:#99090A;
    text-align:center;
    text-decoration: none;
}

#site-info a:hover {text-decoration:underline;}

#forbottom {
    background: url(main_bottom.jpg) 0px bottom no-repeat;
    clear:both;
    width:100%;
}

#forbottom2 {
    background: url(main_bottom2.jpg) 0px bottom no-repeat;
    clear:both;
    width:100%;
}


p {
    font-family:Verdana, Geneva, sans-serif; color: #99090A;
}

.jumbotron2 {
    background:url(main_center.jpg) right top;
    padding-top:30px;
    background-color: #000000 !important;
}


div.well-sm {
    background:url(blood_pool.png) right bottom no-repeat !important;
}

table.blogFooter td.tags {
    text-align: right !important;
}

.nopaddingNav {
    text-color: #99090A !important;
    margin: 0 !important;
    padding: 0 !important;
}

.pagination>li>a, .pagination>li>span {
    color: #99090A !important;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
    background-color: #dca7a7 !important;
    border-color: #dca7a7 !important;
}